  a {
    text-decoration: none;
    color: black;
  }
  
h1 {
    font-size: 2.6rem;
    @include respond(break-s) {
      font-size: 3.8rem;
    }
    @include respond(break-m) {
      font-size: 4.4rem;
    }
    @include respond(break-l) {
      font-size: 5rem;
    }
    // @include respond(break-xl) {
    //   font-size: 2em;
    // }
  }
  
  h2 {
    font-size: 2.2rem;
    // font-weight: normal;
    @include respond(break-s) {
      font-size: 3.2rem;
    }
    @include respond(break-m) {
      font-size: 3.6rem;
    }
    @include respond(break-l) {
      font-size: 4.2rem;
    }
    // @include respond(break-xl) {
    //   font-size: 2em;
    // }
  }
  h3 {
    font-size: 1.8rem;
    @include respond(break-s) {
      font-size: 2.8rem;
    }
    @include respond(break-m) {
      font-size: 3.1rem;
    }
    @include respond(break-l) {
      font-size: 3.6rem;
    }
    // @include respond(break-xl) {
    //   font-size: 2em;
    // }
  }
  h4 {
    font-size: 1.6rem;
    @include respond(break-s) {
      font-size: 2.4rem;
    }
    @include respond(break-m) {
      font-size: 2.6rem;
    }
    @include respond(break-l) {
      font-size: 3rem;
    }
    // @include respond(break-xl) {
    //   font-size: 2em;
    // }
  }
  h5 {
    font-size: 1.4rem;
    @include respond(break-s) {
        font-size: 2rem;
      }
      @include respond(break-m) {
        font-size: 2rem;
      }
      @include respond(break-l) {
        font-size: 2.2rem;
      }
      // @include respond(break-xl) {
      //   font-size: 2em;
      // }
  }
  h6 {
    font-size: 1.2em;
    @include respond(break-s) {
        font-size: 1.6rem;
      }
      @include respond(break-m) {
        font-size: 1.6rem;
      }
      // @include respond(break-l) {
      //   font-size: 2em;
      // }
      // @include respond(break-xl) {
      //   font-size: 2em;
      // }
  }
  p {
    font-size: 1.3em;
    @include respond(break-s) {
      font-size: 1.6rem;
    }
    // @include respond(break-m) {
    //   font-size: 2em;
    // }
    // @include respond(break-l) {
    //   font-size: 2em;
    // }
    // @include respond(break-xl) {
    //   font-size: 2em;
    // }
  }

